<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}} — {{app_name}}</title>
    {% else %}
    <title>{{app_name}}</title>
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/"><b>{{app_name}}</b></a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="https://team-gigabyte.github.io">
            <img src="https://team-gigabyte.github.io/TG_Logo.svg" width="54" alt="A Team Gigabyte Project"
                title="A Team Gigabyte Project">
        </a>
    </footer>
</body>

</html>