<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}} — {{app_name}}</title>
    {% else %}
    <title>{{app_name}}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/" class="app-name"><b>{{app_name}}</b></a>
        <div>
            <a href="/currentmealplan">View Meal Plan</a>
            <a href="/favorites">Favorites</a>
            <a href="/onboarding">Preferences</a>
        </div>
    </nav>

    {% if no_padding %}
    <main>
    {% else %}
    <main class="padded">
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="https://team-gigabyte.github.io">
            <img src="https://team-gigabyte.github.io/TG_Logo.svg" width="54" alt="A Team Gigabyte Project"
                title="A Team Gigabyte Project">
        </a>
    </footer>
    <script>
        document.querySelectorAll('option').forEach(option => {
            option.onmousedown = function(e) {
                e.preventDefault();
                this.selected = !this.selected;
                this.parentElement.focus();
                return false;
            }
        })
        document.querySelectorAll('.copier').forEach(button => {
            button.onclick = async function() {
                const copyText = this.getAttribute('data-copy')
                try {
                    await navigator.clipboard.writeText(copyText)
                    this.innerHTML = 'Copied!'
                    setTimeout(() => {
                        this.innerHTML = 'Copy'
                    }, 1000)
                } catch (error) {
                    console.error('Failed to copy:', error)
                    alert('Failed to copy.')
                }
            }
        })
        async function add_to_favorites(button, uri) {
            try {
                const response = await fetch('/add_to_favorites', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        uri: uri
                    })
                })
                if (response.ok) {
                    button.title = "Remove from favorites"
                    button.onclick = function() {
                        remove_from_favorites(button, uri)
                    }
                    button.innerHTML = '💔'
                } else {
                    alert('Failed to add to favorites.')
                }
            } catch (error) {
                console.error('Failed to add to favorites:', error)
                alert('Failed to add to favorites.')
            }
            
        }
        async function remove_from_favorites(button, uri) {
            try {
                const response = await fetch('/remove_from_favorites', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        uri: uri
                    })
                })
                if (response.ok) {
                    button.title = "Save to favorites"
                    button.onclick = function() {
                        add_to_favorites(button, uri)
                    }
                    button.innerHTML = '❤️'
                } else {
                    alert('Failed to remove from favorites.')
                }
            } catch (error) {
                console.error('Failed to remove from favorites:', error)
                alert('Failed to remove from favorites.')
            }
            
        }
        function clear_favorites() {
            if (confirm('All favorites will be lost. Are you sure?')) {
                fetch('/clear_favorites', {
                    method: 'POST'
                }).then(response => {
                    if (response.ok) {
                        window.location.reload()
                    } else {
                        alert('Failed to clear favorites.')
                    }
                }).catch(error => {
                    console.error('Failed to clear favorites:', error)
                    alert('Failed to clear favorites.')
                })
            }
        }
    </script>
</body>

</html>